body {
    margin: 0;
    font-family: sans-serif;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header {
    background-color: #001058;
    color: white;
    padding: 25px;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bold;

}

a:hover{
    display: inline-block;
        padding: 5px 5px;
        font-size: 15px;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        border-radius: 5px;
        background-color: #A9C5F8;
        color: #fff;
        border: 2px solid #A9C5F8;
        transition: background-color 0.3s ease, color 0.3s ease;

}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

label {
    display: block;
    margin-bottom: 8px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
    border: 3px solid #001989; 
    padding: 10px;
    background-color: #A0B1FE; 
    border-radius: 8px; 
    width: 300px; 
    margin: 50px;
    align-items: center;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contenedor-imagen{
    display: inline-block;
    margin-right: 10px;
}

.contenedor-imagen img{
    width: 500px;
}