@import url(https://fonts.googleapis.com/css?family=Lato);

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
}

html {
    font: 1em/1.5 "Lato", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
}

body {
    font-size: 1.3em;
}

header {
    height: 100%;
    position: relative;
    overflow: hidden;
    background: rgb(161, 211, 244);
    background: linear-gradient(90deg, rgba(161, 211, 244, 1) 18%, rgba(91, 205, 251, 1) 63%, rgba(86, 154, 247, 1) 100%);
    /* Image Credit: Unsplash.me */
    background-size: cover;
}

header .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

header h1,
header h2 {
    margin: 0;
}

header h2 {
    text-transform: uppercase;
    margin-top: -.5em;
}

header hgroup {
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: inline-block;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    border: 5px solid #fff;
    padding: .5em 3em;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #333 center no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 0;
    -webkit-filter: blur(4px);
}

img {
    margin-right: 20px;
    widht: 400px;
    height: 400px;
    
}

.sobre-mi{
    width: 800px;
    margin: 0 auto;
}

.site {
    padding: 20em 0;
    text-align: center;
    background-color: #efefef;
    font-size: .8em;
    color: black;
    position: relative;
}

.site a {
    color: white;
    text-decoration: none;
}

.site a:hover {
    color: #222;
}

.site nav {
    position: absolute;
    top: 0;
    left: 0;
    background: #005BB6;
    width: 100%
}

.site nav a {
    padding: 10px 30px;
    font-size: 1.3em;
    display: inline-block
}

.site nav a:hover {
    background: cornflowerblue;
    color: #fff
}

h2{
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 100;
    line-height: 2;
    color: #2c3e50;
}

hr{
    box-shadow: 5px 5px 10px;
    height: 5%;
    width: 95%;
}